<%- include("partials/header.ejs") %>

        <%if(locals.data){%>
        <div class="body-container">
            <div class="card__container">
                <article class="card__article">
                    <img src="<%=details.image.url%>" alt="<%=details.name%>" class="card__img">
                    <div class="card__data">
                        <span class="card__description"><%=details.name%></span>
                        <h2>Powerstats</h2>
                        <ul>
                            <li>Intelligence: <%=details.powerstats.intelligence%></li>
                            <li>Strength: <%=details.powerstats.strength%></li>
                            <li>Speed: <%=details.powerstats.speed%></li>
                            <li>Durability: <%=details.powerstats.durability%></li>
                            <li>Power: <%=details.powerstats.power%></li>
                            <li>Combat: <%=details.powerstats.combat%></li>
                        </ul>
                    </div>
                </article>
            </div>

            <h2>Appearance</h2>
            <h3><%details.biography%></h3>
            <ul>
                <li>Gender: <%=details.appearance.gender%></li>
                <li>Race: <%=details.appearance.race%></li>
                <li>Height: <%details.appearance.height%></li>
            </ul>
        </div>
    <%}else{%>
        <div class="notice">
            <h2>Want to learn more about your favourite hero or villain. Well look no further.</h2>
        </div>
        
    <%}%>  


<%- include("partials/footer.ejs") %>